@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-display;
    }

}

input.larger {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
}

.shadow-custom {
    box-shadow: 0 0 10px rgba(136, 136, 136, 0.5);
}